@using Microsoft.AspNet.Identity
@if(Session["user"]!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Session["user"] + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Log Off","LogOff","Home")</li>
        <li>@Html.ActionLink("Hall", "Hall", "Home")</li>
   </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
         <li>@Html.ActionLink("Register","Register","Home")</li>
        <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
